<table>
  <tr>
    <th>投稿者</th>
    <th>内容</th>
  </tr>

  <% comment_supplies.each do |comment_supply| %>
    <% if comment_supply.id.present? %>
      <tr>
        <td><%= comment_supply.user.name %></td>
        <td><%= comment_supply.content %></td>
          <% if current_user.id == comment_supply.user_id%>
        <td><%= link_to "編集",edit_supply_comment_supply_path(id: comment_supply.id,supply_id: comment_supply.supply_id),class:"btn btn-success" %></td>
        <td><%= link_to "削除",supply_comment_supply_path(id: comment_supply.id, supply_id: comment_supply.supply_id), method: :delete,class:"btn btn-danger" %></td>
          <% end %>
      </tr>
    <% end %>
  <% end %>

</table>