<table class = "table table-hover">
  <thead>
    <h2>メッセージ一覧</h2>
  </thead>
  <tbody>
    <% @conversations.each do |conversation|%>
      <td>
        <% if conversation.target_user(current_user).present? %>
          <%= link_to conversation.target_user(current_user).name,conversation_messages_path(conversation)%>
          <!--messsagesコントローラのindexアクションに処理が流れるリンクとなる。
            conversation.target_user current_user .nameで会話相手の名前を表示-->
        <% end %>
      </td>
    <% end %>
  </tbody>
</table>