// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.balloon_left {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: #fd8d2fba;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;

}

.balloon_left .icon {
  position: absolute;
  left: -110px;
  top: 0;
  max-height: 60px;
  border-radius: 50%;
  border: solid 3px #fd8d2fba;
  background-color: whit
}

.balloon_left:before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #fd8d2fba;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


.balloon_left p {
  margin: 0;
  padding: 0;
}

.balloon_left .name{
  position: absolute;
  left: -105px;
  top: 60px;
  max-height: 60px;
  border-radius: 10%;
  border: solid 5px #f5cc50c4;
  background-color: white;
}

.balloon_right {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  color: black;
  background: #e0edff;
  margin-right: 110px;
  /* 右に余白を設ける */
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.balloon_right .icon {
  position: absolute;
  right: -110px;
  top: 0;
  max-height: 60px;
  border-radius: 50%;
  border: solid 3px #f5cc50c4;
  background-color: white;
}

.balloon_right .name{
  position: absolute;
  right: -105px;
  top: 54px;
  max-height: 60px;
  border-radius: 10%;
  border: solid 5px #f5cc50c4;
  background-color: white;
}

.balloon_right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #e0edff;
}

.balloon_right p {
  margin: 0;
  padding: 0;
}

// .ui_segment {
//   height: 100%;
//   min-height: 100vh;
//   position: relative;
//   /*←相対位置*/
//   padding-bottom: 120px;
//   /*←footerの高さ*/
//   box-sizing: border-box;
//   /*←全て含めてmin-height:100vhに*/
// }