// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color: #2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  // position: relative;
  min-height: 100%;
}


body {
  text-align: center;
}

.wrapper {
  // height: 100%;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 120px;
  // /*←footerの高さ*/
  box-sizing: border-box;
  // /*←全て含めてmin-height:100vhに*/
}

.container {
  min-height: 100%;
}

.demand_picture {
  display: inline-block
}

.supply_picture {
  display: inline-block
}

.picture_field {
  display: inline-block
}

#user_img {
  display: inline-block
}

.user_picture {
  display: inline-block
}

.dropdown-menu {
  padding: 3px 40px;
}

.uk-position-relative {
  position: relative;
}

.uk-position-relative h1 {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
}

.uk-position-relative h4 {
  position: absolute;
  color: red;
  top: 0;
  left: 0;
}

.uk-position-relative img {
  width: 100%;
}

.uk-position-relative #button_skill {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  /*太字に*/
  font-size: 2em;
  /*サイズ2倍*/
}

.uk-position-relative #button_demand {
  position: absolute;
  top: 50%;
  left: 15%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  /*太字に*/
  font-size: 2em;
  /*サイズ2倍*/
}